In [34]:
import pandas as pd
import numpy as np
import statistics
import math
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
import warnings
warnings.filterwarnings('ignore')

# Q1

In [5]:
data = pd.read_csv(r"D:\FastSemesters\semester5\ML\lab\emaan\gender_classification_v7.csv")
data

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [6]:
data.describe()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
count,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000
mean,0.869626,13.181484,5.946311,0.493901,0.507898,0.493101,0.498900
std,0.336748,1.107128,0.541268,0.500013,0.499988,0.500002,0.500049
min,0.000000,11.400000,5.100000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,12.200000,5.500000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,13.100000,5.900000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,14.000000,6.400000,1.000000,1.000000,1.000000,1.000000
max,1.000000,15.500000,7.100000,1.000000,1.000000,1.000000,1.000000

In [7]:
data.corr()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
long_hair,1.000000,-0.006530,-0.017233,0.001216,0.014432,0.011287,-0.025794
forehead_width_cm,-0.006530,1.000000,0.088596,0.251648,0.257368,0.258564,0.251328
forehead_height_cm,-0.017233,0.088596,1.000000,0.211655,0.194120,0.205441,0.215292
nose_wide,0.001216,0.251648,0.211655,1.000000,0.565192,0.557615,0.569303
nose_long,0.014432,0.257368,0.194120,0.565192,1.000000,0.561229,0.559794
lips_thin,0.011287,0.258564,0.205441,0.557615,0.561229,1.000000,0.565312
distance_nose_to_lip_long,-0.025794,0.251328,0.215292,0.569303,0.559794,0.565312,1.000000

In [8]:
x_data = data.drop(["gender"],axis = 1)
y_data = data.gender.values

In [9]:
print(x_data)

      long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long  \
0             1               11.8                 6.1          1          0
1             0               14.0                 5.4          0          0
2             0               11.8                 6.3          1          1
3             0               14.4                 6.1          0          1
4             1               13.5                 5.9          0          0
...         ...                ...                 ...        ...        ...
4996          1               13.6                 5.1          0          0
4997          1               11.9                 5.4          0          0
4998          1               12.9                 5.7          0          0
4999          1               13.2                 6.2          0          0
5000          1               15.4                 5.4          1          1

      lips_thin  distance_nose_to_lip_long
0             1                          1
1             1                          0
2             1                          1
3             1                          1
4             0                          0
...         ...                        ...
4996          0                          0
4997          0                          0
4998          0                          0
4999          0                          0
5000          1                          1

[5001 rows x 7 columns]

In [10]:
print(y_data)

['Male' 'Female' 'Male' ... 'Female' 'Female' 'Male']

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size = 0.3, random_state=1)

In [15]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
predictions = gnb.predict(x_test)
print(round((accuracy_score(y_test, predictions)),2)*100,'%')

97.0 %

# Q2

In [20]:
dataframe = {'TID' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],'REFUND' : ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No' ],
    'MARITAL STATUS' : ['Single', 'Married', 'Single', 'Married', 'Divorced','Married','Divorced', 'Single', 'Married', 'Single'],
    'TAXABLE INCOME' : [125, 100, 70, 120, 95, 60, 220, 85, 75, 90],'EVADE' : ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']}

# TASK #01

In [31]:
def NB(df, test):
    
    #Calulating probability of both yes and no from evade
    total_count = df['EVADE'].count()
    outcome_yes = df[df['EVADE'] == 'Yes']
    total_yes = outcome_yes['EVADE'].count()
    outcome_no = df[df['EVADE'] == 'No']
    total_no = outcome_no['EVADE'].count()
    totalProbability_yes = total_yes / total_count
    totalProbability_no = total_no / total_count    
 
    #MARITAL STATUS
    MarSt_yes = 0
    MarSt_no = 0
    for i in outcome_yes['MARITAL STATUS']:
        if i == test[1]:
            MarSt_yes += 1
    for i in outcome_no['MARITAL STATUS']:
        if i == test[1]:
            MarSt_no += 1
    MarSt_yes = MarSt_yes /total_yes
    MarSt_no = MarSt_no / total_no
    
    #REFUND
    refund_yes = 0
    refund_no = 0
    for i in outcome_yes['REFUND']:
        if i == test[0]:
            refund_yes += 1
    for i in outcome_no['REFUND']:
        if i == test[0]:
            refund_no += 1
    refund_yes = refund_yes / total_yes
    refund_no = refund_no / total_no
    
    #TAXABLE INCOME
    mean_yes = outcome_yes['TAXABLE INCOME'].mean()
    mean_no = outcome_no['TAXABLE INCOME'].mean()
    variance_yes = outcome_yes['TAXABLE INCOME'].var()
    variance_no = outcome_no['TAXABLE INCOME'].var()
    taxationIncome_yes = (1 / (math.sqrt(2*math.pi*variance_yes))) * (math.exp(-((test[2] - mean_yes)**2) / (2*variance_yes)))
    taxationIncome_no = (1 / (math.sqrt(2*math.pi*variance_no))) * (math.exp(-((test[2] - mean_no)**2) / (2*variance_no)))
    
    probalityOf_yes = refund_yes * MarSt_yes * taxationIncome_yes * totalProbability_yes
    probabilityOf_no = refund_no * MarSt_no * taxationIncome_no * totalProbability_no
    
    if probalityOf_yes > probabilityOf_no:
        return 'Yes'
    else:
        return 'No'

In [22]:
data = pd.DataFrame(dataframe)
data = data.set_index(data['TID'])
data = data.drop(['TID'], axis = 1)
print(data)

    REFUND MARITAL STATUS  TAXABLE INCOME EVADE
TID
1      Yes         Single             125    No
2       No        Married             100    No
3       No         Single              70    No
4      Yes        Married             120    No
5       No       Divorced              95   Yes
6       No        Married              60    No
7      Yes       Divorced             220    No
8       No         Single              85   Yes
9       No        Married              75    No
10      No         Single              90   Yes

In [25]:
data["REFUND"] = data["REFUND"].replace({"Yes":1,"No":0})
data["MARITAL STATUS"] = data["MARITAL STATUS"].replace({"Single":0,"Married":1,"Divorced":2})
data.at[4,"MARITAL STATUS"] = 1
data["EVADE"] = data["EVADE"].replace({"Yes":1,"No":0})

In [36]:
prediction = NB(data, ['Yes', 'Divorced', 75])
print("Prediction Of Evasion: ", prediction)

Prediction Of Evasion:  No

# TASK# 02

In [26]:
x_data = data.iloc[:,0:3]
y_data = data.iloc[:,3]
x_train, x_test, y_train, y_test  = train_test_split(x_data,y_data,test_size=0.1,random_state = 1)

gnb = GaussianNB()
gnb.fit(x_train, y_train)
predictions = gnb.predict(x_test)
if predictions == 0:
  print("Prediction of Evade for x_test = No")
else:
  print("Prediction of Evade for x_test = Yes")

Prediction of Evade for x_test = No